@font-face {
  font-family: "Comic Neue";
  src: local("ComicNeue-Regular"),
    url("./assets/fonts/Comic_Neue/ComicNeue-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Comic Neue";
  src: local("ComicNeue-Bold"),
    url("./assets/fonts/Comic_Neue/ComicNeue-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Comic Neue";
  src: local("ComicNeue-BoldItalic"),
    url("./assets/fonts/Comic_Neue/ComicNeue-BoldItalic.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lora";
  src: local("Lora-Bold"),
    url("./assets/fonts/Lora/static/Lora-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lora";
  src: local("Lora-Regular"),
    url("./assets/fonts/Lora/static/Lora-Regular.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lora";
  src: local("Lora-Medium"),
    url("./assets/fonts/Lora/static/Lora-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --navbar-bg-color: hsl(0,0%,19.61%);
  --navbar-text-color: hsl(0,0%,100%);
  --navbar-text-color-focus: white;
  --navbar-bg-contrast: hsl(0, 0%, 20%);
  --navbar-height: 64px;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comic Neue", "Lora", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

a {
  text-decoration: none;
  color: black;
}
